{% extends 'base.html' %}

{% block content %}

	<div class="container npcs-content">
		<!--
		<div class="npcs-banner" style="background-image: url('{{ npcs.banner_url }}');
																		background-size: cover;
																		background-position: center center;
																		background-repeat: no-repeat;">
			&nbsp;
		</div>
		-->
		<div class="row">
			<div class="col-md-9">
				<br />
				<h1>Fate Beastiary</h1>
				{% if tag %}
				<h3>Tag: <a href="/beastiary/" class="label label-default">{{ tag }}</a></h1>
				{% endif %}
				<hr />
				{{ alphabet|safe }}
				<hr />
				<p>
					These NPCs were created using Fate Core and are 
					offered as a resource to GMs and players. NPCs with the 
					<a href="/beastiary/pregen/" class="label label-default"><i class="fa fa-user"></i> pregen</a> tag are 
					full-fledged characters that can be used as-is for player characters 
					or Main NPCs in your games. 
					<!--All NPCs are designed as suggestions. Feel free to adjust them to fit your game properly.-->
				</p>
				<p>
					If you have any suggestions, questions, or ideas, let me know in the comments below!
				</p>
				<br />
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
						{% for npc in npcs %}
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="heading-{{ npc.slug }}">
									<a href="/beastiary/{{ npc.first_letter }}/{{ npc.slug }}" data-toggle="tooltip" title="Link" class="pull-right"><i class="fa fa-link"></i></a>
									<a role="button" data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse-{{ npc.slug }}" aria-expanded="true" aria-controls="collapseOne">
										<h4 class="panel-title">
											{% if npc.is_pregen %}
												<i class="fa fa-user"></i>
											{% endif %}
											{{ npc.title }}
										</h4>
									</a>
								</div>
								{% if npc.slug == selected.slug %}
									<div id="collapse-{{ npc.slug }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
								{% else %}
									<div id="collapse-{{ npc.slug }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
								{% endif %}
										<div class="panel-body">

											{% if npc.image %}
												<div class="thumbnail col-sm-5 col-xs-6 pull-right text-center">
													<img src="{{ npc.image }}" class="zoom-img img-responsive" />
													{% if npc.image_src %}
													<a href="{{ npc.image_src }}" target="_blank">
															<i class="fas fa-external-link-alt"></i> Source
														</a>
													{% endif %}
												</div>
											{% endif %}

											{% if npc.description %}
												<h3>Description</h3>
												{{ npc.html_description|safe }}
											{% endif %}
											{% if npc.aspects %}
												<h3>Aspects</h3>
												{{ npc.html_aspects|safe }}
											{% endif %}
											{% if npc.attributes %}
												<h3>Attributes</h3>
												{{ npc.html_attributes|safe }}
											{% endif %}
											{% if npc.stunts %}
												<h3>Stunts</h3>
												{{ npc.html_stunts|safe }}
											{% endif %}
											{% if npc.stress or npc.consequences.all %}
												<h3>Stress & Consequences</h3>
												{{ npc.stress.html_boxes|safe }}
												{% for consequence in npc.consequences.all %}
													{{ consequence.html_form|safe }}
												{% endfor %}
											{% endif %}
											{% if npc.uses %}
												<h3>Scene Ideas</h3>
												{{ npc.html_uses|safe }}
											{% endif %}

											<br />
											<i class="fa fa-tags"></i> Tags:
											{% for tag in npc.tags.all %}
												<a href="/beastiary/{{ tag }}"><span class="label label-default">{{ tag }}</span></a>
											{% endfor %}
											<br />
										</div>
									</div>
							</div>
						{% endfor %}
					</div>
					{% if not npcs %}
						<h2>No NPCs here yet... Try another letter!</h2>
						<br />
					{% endif %}
					<br />
					<center>
						<small class="text-muted">
							Unless stated otherwise, the text of the above NPCs is available under a <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">CC BY-NC 4.0</a> license.<br />
							Art is used without permission. nathanhare.net has no affiliation with the artists and claims no rights to the art.
						</small>
					</center>
				<!---
				<h1>{{ npcs.title }}</h1>
				<div class="content">
					{{ npc.html_body|safe }}
					<br />
					<center>
						<small class="text-muted">
							Unless stated otherwise, the text of the above blog npcs is licensed
							under a <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">Creative Commons Attribution-NonCommercial 4.0 International</a> license. 
							{% if npcs.banner.credit %}
								<br />{{ npcs.banner.html_credit|safe }}
							{% endif %}
						</small>
					</center>
					<br />
					<i class="fa fa-tags"></i> Tags:
				{% for tag in npcs.tags.all %}
					<a href="/?tag={{ tag }}"><span class="label label-default">{{ tag }}</span></a>
				{% endfor %}
					<br />
				</div>
				<br />
				-->
			</div>
			<div class="col-md-3">
				<br />
				{% include "blog/sidebar.html" %}
				<hr />
			</div>
		</div>
		{% if npcs.is_published %}
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<hr class="clearfix" />

					<div id="disqus_thread"></div>
					<script>

						/**
						*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
						*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
						var disqus_config = function () {
						this.page.url = '{{ BASE_URL }}{{ npcs.url }}';  // Replace PAGE_URL with your page's canonical URL variable
						this.page.identifier = '{{ npcs.slug }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
						};
						(function() { // DON'T EDIT BELOW THIS LINE
						var d = document, s = d.createElement('script');
						s.src = 'https://rpgstuff.disqus.com/embed.js';
						s.setAttribute('data-timestamp', +new Date());
						(d.head || d.body).appendChild(s);
						})();
					</script>
					<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

			</div>
		</div>
	{% endif %}
	<div class="row">
		<div class="col-xs-12 text-center text-muted">
				<br />
				Copyright &copy; 2018, Nathan Hare<br />
				All rights reserved
				<br />
				<br />
		</div>
	</div>

{% endblock %}
