{% extends 'base.html' %}

{% block content %}
	{% load static %}

	<div class="container post-content">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
				<h1>About</h1>
				<div class="content">
					<img src="{% static 'images/nathan-hare2.png' %}" class="img-responsive img-circle pull-right" style="padding: 0 10px 10px 0;max-width: 150px;"/>
					<p>You have found the blog of Nathan Hare. Here you'll find my musings on various topics such as Tabletop RPGs (specifically Fate Core) and my web development projects. The other pages on this site are resources to be used along with tabletop RPGs. Thanks for reading, and let me know what you think! </p>
					<p>
						More coming soon...
					</p>
				</div>
					<br /><br />
					<br /><br />
			</div>
		</div>
	</div>

{% endblock %}
