<!DOCTYPE html>
<html lang="eng">
	<head>
		{% load static %}
		<title>RPG Stuff - by: Nathan Hare</title>
		<meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="rpg stuff" />
		<meta property="og:image" content="{% static "images/title.png" %}" />
    <meta property="og:description" content="A blog by Nathan Hare about tabletop roleplaying games.">
    <meta property="og:url" content="http://rpg.nathanhare.net/mou/">
    <meta name="twitter:card" content="summary_large_image">
		<link rel="shortcut icon" href="{% static "images/favicon.png" %}" type="image/x-icon">
		<link href="{% static "bootstrap-3.3.7-dist/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
		<link rel="stylesheet" href="{% static "bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" %}" media="screen">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:500,800|Open+Sans" rel="stylesheet">
		<style>

		</style>
	</head>
	<body>

		<header>
			
		</header>

		<section class="jumbotron">

		</section>

		<main>

			{% block content %}{% endblock %}

		</main>

		<footer>

		</footer>

	</body>
</html>
